{{#each categories as |category|}}
<div class="creating-category">

<p> ID: {{category.id}} </p>
  <p> Name: {{category.name}} </p>
    <p> Description: {{category.description}} </p>
</div>
{{/each}}s
