
{{#each items as |item|}}
  <section data-id="{{item.id}}">
    <div class="forms-to-hide">
        <!-- FORMS FOR CREATE -->
        <p class="p-create">You can add down below anything that you've recently purchased</p><br>
        <section class="user-forms">
        <form id="create-item">
    Name:<br>
    <input type="text" name="item[name]" value=" ">
    <br>
    Description:<br>
    <input type="text" name="item[description]" value=" ">
    <br>
    Color:<br>
    <input type="text" name="item[color]" value=" ">
    <br>
    Season:<br>
    <input type="text" name="item[season]" value=" ">
    <br>
    Status:<br>
    <input type="text" name="item[status]" value=" ">
    <br><br>
    <input type="submit" value="Add something to your closet!">
    </form>
    <br>

    <!-- FORMS FOR UPDATE -->
    <p class="p-update">Is any of your items getting to old? Loosing it's color? Save it here! </p><br>
    <form id="update-item">
    Name:<br>
    <input type="text" name="item[name]" value=" ">
    <br>
    Description:<br>
    <input type="text" name="item[description]" value=" ">
    <br>
    Color:<br>
    <input type="text" name="item[color]" value=" ">
    <br>
    Season:<br>
    <input type="text" name="item[season]" value=" ">
    <br>
    Status:<br>
    <input type="text" name="item[status]" value=" ">
    <br><br>
    <input type="submit" value="Update an item">
    </form>
    </section>
    <br>

    <!-- FORMS DElETTING ITEM -->
    <p class="p-delete">Tackle me or donate me!</p><br>
    <form id="delete-item">
    ID:<br>
    <input type="text" name="item[id]" value=" ">
    <br><br>
    <input type="submit" value="Delete">
    </form>
    </section>
    <br>

    <!-- FORMS SHOW  ITEM -->
    <p class="p-show">See any of your items by id!</p><br>
    <form id="show-item">
    ID:<br>
    <input type="text" name="item[id]" value=" ">
    <br><br>
    <input type="submit" value="See an item!">
    </form>
    </section>
    <br>

    <!-- FORMS SHOW  ITEM -->
    <p class="p-show"> You want to see what's inside? </p><br>
    <form id="get-item">
    <br><br>
    <input type="submit" value="Open the closet!">
    </form>
    </section>
    <br>
    <!-- BUTTON FOR CLEARING THE CLOSET  -->
    <button class="clear-closet"> Clear your closet! Time to go shopping! </button>
    <br><br>
    </div>
    <div class="content"></div>

    <!-- BUTTON SECTION -->
    <section class="buttons">
    <div class="change-password-hide">
           <div class="modal fade" id="change-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
             <div class="modal-dialog" role="document">
               <div class="modal-content">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">


                   <form id="change-password-form">
                     <div class="change-password-message"></div>
                     <input type="password" name="passwords[old]" placeholder="old password">
                     <input type="password" name="passwords[new]" placeholder="new password">
                     <input type="submit" value="Change Password">
                   </form>
                 </div>

               </div>
             </div>
           </div>
    <button id="change-your-password" type="button" class="btn btn-primary" data-toggle="modal" data-target="#change-password"> Change your password </button>
    </div>
    <!-- SIGN-OUT BUTTON -->
    <div class="hide-sign-out">
           <form id="sign-out">
             <button type="submit">Sign out</button>
           </form>
    </div>

  </section>

{{/each}}
