@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Gruppo&display=swap');

h1 {
  font-family:  'Gruppo', cursive;
  text-align: center;
}

body {
  background-image: url('./public/Option1.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 25%;
  padding-bottom: 25%;
}

legend {
  font-family:  'Gruppo', cursive;
  font-size: 25px;
}

input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 6px;
  box-sizing: border-box;
}

.forms-to-hide {
  display: none;
}

.change-password-hide {
  display: none;
}

.hide-sign-out {
  display: none;
}

.jumbotron {
background-color:rgba(208, 224, 251, 1);
padding-top: 55%;
padding-bottom: 55%;
}

.lead {
  font-family:  'Gruppo', cursive;
  text-align: center;
}

.creating {
  font-family:  'Gruppo', cursive;
  font-weight: bold;
  font-size:  20px;
  color : rgba(55, 125, 54, 1);
}

.media-body {
  font-family:  'Gruppo', cursive;
  font-size: 18px;
  font-weight: bold;
  text-align: justify
}

.p-create {
  font-family:  'Gruppo', cursive;
  font-size: 20px;
  font-weight: bold;
  color: rgba(162, 75, 17, 1);
}

.p-update {
  font-family:  'Gruppo', cursive;
  font-size: 20px;
  font-weight: bold;
  color: rgba(162, 75, 17, 1);
}

.p-delete {
  font-family:  'Gruppo', cursive;
  font-size: 20px;
  font-weight: bold;
  color: rgba(162, 75, 17, 1);
}

.p-show {
  font-family:  'Gruppo', cursive;
  font-size: 20px;
  font-weight: bold;
  color: rgba(162, 75, 17, 1);
}
#getitems {
  display: none;
}
